<div class="d-flex justify-content-center">

    

    <table class="table table-striped">
    <tr>
    <td align="center" colspan="3"><img src="/img/emConstrucao.png" width="30%" height="30%"> </td>
    </tr>
    {{#each req}}
            <tr>
            <td><label class="col-form-label-sm">{{@key}}</label></td>
            <td><label class="col-form-label-sm">{{this}}</label></td>
            </tr>
    {{/each}}
    </table>


</div>