  <!-- Footer -->
  <footer class="page-footer font-small purple pt-4">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2022 Copyright:
      <a target="new" href="http://opensoils.org/"> OpenSoils</a> 
      &nbsp;
      (&nbsp;<a target="new" href="http://eltonmarinho.net/"> Élton Carneiro Marinho</a>&nbsp;)
      <br>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->
  