{{#switch titulo_pagina}} 
        {{#case 'PROVChain - Prova de Conceito'}} 
                <figure class="figure">
                        <a href="/"><img src="/img/recorte_inicial.jpeg" class="figure-img img-fluid rounded" alt="PROVChain"></a>
                        <figcaption class="figure-caption">Fotografia de autoria de <i>Johannes Plenio</i> disponibilizada no <i>Unsplash</i>.</figcaption>
                </figure>
        {{/case}} 
        {{#case 'Lista os Orgãos Executores'}} 
                <figure class="figure">
                        <a href="/"><img src="/img/recorte_orgao.jpeg" class="figure-img img-fluid rounded" alt="PROVChain"></a>
                        <figcaption class="figure-caption">Recorte da fotografia de autoria de <i>Gautam Krishnan</i> disponibilizada no <i>Unsplash</i>.</figcaption>
                </figure>
        {{/case}}
        {{#case 'Lista os Projetos cadastrados'}} 
                <figure class="figure">
                        <a href="/"><img src="/img/recorte_projeto.jpeg" class="figure-img img-fluid rounded" alt="PROVChain"></a>
                        <figcaption class="figure-caption">Recorte da fotografia de autoria de <i>Alvaro Reyes</i> disponibilizada no <i>Unsplash</i>.</figcaption>
                </figure>
        {{/case}}
        {{#case 'Lista as Observações cadastradas'}} 
                <figure class="figure">
                        <a href="/"><img src="/img/recorte_observacao.jpeg" class="figure-img img-fluid rounded" alt="PROVChain"></a>
                        <figcaption class="figure-caption">Recorte da fotografia de autoria de <i>Steven Weeks</i> disponibilizada no <i>Unsplash</i>.</figcaption>
                </figure>
        {{/case}}
        {{#case 'Lista os Horizontes cadastrados'}} 
                <figure class="figure">
                        <a href="/"><img src="/img/recorte_horizonte.jpeg" class="figure-img img-fluid rounded" alt="PROVChain"></a>
                        <figcaption class="figure-caption">Recorte da fotografia de autoria de <i>Clare Tallamy</i> disponibilizada no <i>Unsplash</i>.</figcaption>
                </figure>
        {{/case}}
        {{#case 'Detalhes de Horizonte'}}
                <figure class="figure">
                        <a href="/"><img src="/img/recorte_horizonte.jpeg" class="figure-img img-fluid rounded" alt="PROVChain"></a>
                        <figcaption class="figure-caption">Recorte da fotografia de autoria de <i>Clare Tallamy</i> disponibilizada no <i>Unsplash</i>.</figcaption>
                </figure>
        {{/case}}
        {{#default ''}} 
        {{/default}}
{{/switch}}

