{{#if success_msg}}
    <div id="success_msg" name="success_msg" class="alert alert-success">{{ success_msg }}</div>
{{/if}}

{{#if error_msg}}
    <div id="error_msg" name="error_msg" class="alert alert-danger">{{ error_msg }}</div>
{{/if}}