  {{!-- <div class="container my-5">
    <nav class="nav nav-centered bg-dark">
        <a class="nav-link active" id="lnk_projeto" name="lnk_projeto" aria-current="page" href="/"><font color="white">PROVChain</font></a>
        <a class="nav-link active" id="lnk_projeto" name="lnk_projeto" aria-current="page" href="/listar/Projeto"><font color="white">Projetos</font></a>
        <a class="nav-link active" id="lnk_excluidos" name="lnk_excluidos"  aria-current="page" href="/api/excluidos"><font color="white">Excluídos</font></a>
        <a class="nav-link active" id="lnk_blockchain" name="lnk_blockchain"  aria-current="page" href="/api/consulta/blockchain"><font color="white">Blockchain</font></a>
    </nav>
  </div>







<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link active" id="lnk_projeto" name="lnk_projeto" aria-current="page" href="/">PROVChain</a></li>
        <li class="nav-item"><a class="nav-link active" id="lnk_projeto" name="lnk_projeto" aria-current="page" href="/listar/Projeto">Projetos</a></li>
        <li class="nav-item"><a class="nav-link active" id="lnk_excluidos" name="lnk_excluidos"  aria-current="page" href="/api/excluidos">Excluídos</a></li>
        <li class="nav-item"><a class="nav-link active" id="lnk_blockchain" name="lnk_blockchain"  aria-current="page" href="/api/consulta/blockchain">Blockchain</a></li>
      </ul>
  </div>
</nav>
 --}}



<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="nav-link active" id="lnk_projeto" name="lnk_projeto" aria-current="page" href="/"><font color="white"><B>PROVChain</B></font></a>
        <a class="nav-link active" id="lnk_projeto" name="lnk_projeto" aria-current="page" href="/listar/Projeto"><font color="white">Projetos</font></a>
        <a class="nav-link active" id="lnk_excluidos" name="lnk_excluidos"  aria-current="page" href="/api/excluidos"><font color="white">Excluídos</font></a>
        <a class="nav-link active" id="lnk_blockchain" name="lnk_blockchain"  aria-current="page" href="/api/consulta/blockchain"><font color="white">Blockchain</font></a>
</nav> 
