<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">PROVChain</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
<!--        <li class="nav-item">
          <a class="nav-link active" id="lnk_orgao" name="lnk_orgao" aria-current="page" href="/listar/Orgao">Orgãos</a>
        </li>
-->        
        <li class="nav-item">
          <a class="nav-link active" id="lnk_projeto" name="lnk_projeto" aria-current="page" href="/listar/Projeto">Projetos</a>
        </li>
<!--
          <li class="nav-item" aria-disabled="true">
          <a class="nav-link active" aria-current="page" href="/listar/Observacao">Observações</a>
        </li>
-->        
      </ul>

    <div class="d-flex collapse navbar-collapse" id="navbarSupportedContent"></div> 
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item"><a class="nav-link active" id="lnk_excluidos" name="lnk_excluidos"  aria-current="page" href="/api/excluidos">Excluídos</a></li>
            <li class="nav-item"><a class="nav-link active" id="lnk_blockchain" name="lnk_blockchain"  aria-current="page" href="/api/consulta/blockchain">Blockchain</a></li>
      </ul>
    </div>  

<!--
    <div class="d-flex collapse navbar-collapse" id="navbarSupportedContent"></div> 
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Cadastrar-se</a>
        </li>
      </ul>
    </div>  
-->    
    </div>
  </div>
</nav>
