<center>
    <h2>Lista de registros excluídos</h2>
    <hr>

    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a href="/"><button id="retornar" name="retornar" class="btn btn-success">Página Inicial</button></a>
    </div>

    <div class="mt-4">
        <table width="100%" border="0">
            <tr align="center">
                <th>
                    <h3>UUID - Dado</h3>
                </th>
                <th>
                    <h3>UUID - Proveniência</h3>
                </th>
            </tr>
            {{#each resultProveniencia}}
                {{#ifeq tipoDoc 'Proveniencia'}}
                    <tr>
                        <td align="center" width="30%">
                            <b>Histórico</b> - {{key_elemento}}
                        </td>
                        <td align="center" width="30%">
                            <a href="/api/historico/{{key}}">
                                <button style="width:100%;" type="button" id="historico" name="historico"
                                    class="btn btn-outline-secondary btn-sm" data-bs-toggle="tooltip" data-bs-placement="top"
                                    title="Mostrar Histórico">
                                    <b>Histórico</b> - {{key}}
                                </button></a>
                        </td>
                    </tr>
                {{/ifeq}}                     
            {{/each}}
        </table>
    </div>

